<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <p><%= question %></p>
        <form action="/" method="post">
          <input name="question_id" type="hidden" value="<%= question_id %>">
          <input name="answer" type="text" class="ghost-input" placeholder="Answer here" required>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
        <% if (result !== null){ %>
          <p><%= result %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>